.border_standard {
    padding: 5em;
}
body {
    background-image: url(../images/coding.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.translucent {
    opacity: 0.5;
}
.jumbotron-fluid {
    margin: 3em;
}

.noPadR {
    padding-right: 0%;
}
.noPadL {
    padding-left: 0%;
}
