.border_standard {
    padding: 5em;
}
body {
    background-image: url(../images/coding.jpg);
}
.translucent {
    opacity: 0.5;
}
.jumbotron-fluid {
    margin: 3em;
}

.noPadR {
    padding-right: 0%;
}
.noPadL {
    padding-left: 0%;
}
